/Course - 3 Python Project for Data Engineering/datasource.zip
/Course - 3 Python Project for Data Engineering/source.zip
/Course - 3 Python Project for Data Engineering/dealership_data
/Course - 3 Python Project for Data Engineering/logfile.txt
/Course - 3 Python Project for Data Engineering/dealership_logfile.txt
/Course - 3 Python Project for Data Engineering/dealership_transformed_data.csv
/Course - 3 Python Project for Data Engineering/bank_market_cap.json
/Course - 3 Python Project for Data Engineering/exchange_rates_1.csv
