/Course - 3 Python Project for Data Engineering/datasource.zip
/Course - 3 Python Project for Data Engineering/source.zip
/Course - 3 Python Project for Data Engineering/dealership_data
/Course - 3 Python Project for Data Engineering/logfile.txt
/Course - 3 Python Project for Data Engineering/dealership_logfile.txt
/Course - 3 Python Project for Data Engineering/dealership_transformed_data.csv
